<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/main.js"></script>
</head>
<body>
    <input id="kelime" value="" type="text" />
    <input id="cumle" value="" type="text" />
    <button onclick="Click()">Tıkla!</button>
</body>
</html>


<script>
    function Click() {



        //var input = document.getElementById("kelime").value;

        //1.Örnek
        //ilk input alanı yeterli.
        //var result = WordFinder(input);


        //2.Örnek
        //Örnek olarak ilk inputa bilge ikinciye içerisinde bilge geçen bir cümle yazabilirsiniz.
        //var sentence = document.getElementById("cumle").value;
        //var result = ValidateSentence(input, sentence);


        //3.Örnek
        //ilk input alanı yeterli.
        //Hatalı örnekler için büyük harf içeren, 3 harften kısa olan, 16 karakterden uzun olan isimler denenebilir.
        //Geçerli örnekler için bilge_adam, bilge, 6ilg3 gibi denemeler yapılabilir.
        //var result = UserNameValidator(input);


        alert(result);


    }

</script>